:root {
  --color-1: #212121;
  --color-2: #808080;
  --color-3: #dbdbdb;
  --color-4: #f5f5f5;
  --color-5: #cc1f0c;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  color: var(--color-1);
}

a {
  text-decoration: none;
  color: var(--color-2);
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  padding: 0.5rem 0;
}
footer {
  background-color: var(--color-4);
  padding: 2rem;
}
footer p {
  margin: 0%;
  color: var(--color-2);
}
.bold {
  font-weight: 800;
}

.red {
  background-color: var(--color-5);
}

h1 {
  font-weight: 300;
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-3);
}
#searchbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 40px;
  border-radius: 0.5rem;
  background-color: var(--color-4);
  padding: 0.6rem;
}
#searchbar p {
  color: var(--color-2);
  margin: 0;
  font-size: 0.9rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem;
}
button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.CTA {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin: 2rem 0;
}
.CTA button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.CTA p {
  margin: 0%;
}
.arrow {
  cursor: pointer;
}
.arrow svg:hover {
  fill: var(--color-1);
}
button.grey {
  color: var(--color-1);
}
button.grey:hover {
  background-color: var(--color-3);
}
button.red {
  color: white;
}
button.red p {
  color: white;
}
button.red:hover {
  background-color: #911204;
}

/* MAIN CONTENT */
#wrapper {
  margin: 2rem;
}
#mainContent {
  display: flex;
  flex-direction: column;
}
.imgGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
#mainContent .greyUpper {
  text-align: center;
}
h2 {
  font-size: 1.8rem;
}
.greyUpper {
  color: var(--color-2);
  text-transform: uppercase;
}
.bigp {
  font-weight: 800;
  font-size: 1.8rem;
}
#mainFlex {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  border-bottom: 1px solid var(--color-3);
}
#ingredients {
  border-bottom: 1px solid var(--color-3);
}
ul.buttons {
  margin: 0;
}
.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* FOOTER */
.footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-3);
}
.footer1 div:first-child {
  width: 70vh;
  margin: 0 25vw;
}
footer {
  font-size: 0.5rem;
}
.footer2 {
  text-align: center;
  padding: 1rem;
  padding-top: 2rem;
}
.appstore {
  margin: 0.5rem 0;
  width: 100%;
}
.AS p {
  color: var(--color-1);
  text-align: center;
}
h4 {
  color: var(--color-1);
  text-transform: uppercase;
  font-weight: 600;
}
/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  header {
    display: grid;
    gap: 2rem;
    align-items: center;
    grid-template-columns: 1fr 0.7fr 1fr;
    margin: 0 2rem;
    padding-bottom: 0;
  }
  #mainContent {
    margin: 0 10rem;
  }
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer1 {
    margin: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  footer {
    font-size: 0.8rem;
    gap: 1rem;
  }
  .footer1 div:first-child {
    margin: 0;
    width: 150px;
  }
  .AS p {
    text-align: left;
  }
  #searchbar {
    margin: 0;
  }
  nav {
    margin: 0;
  }
  .CTA {
    justify-content: flex-start;
  }
  .buttons {
    gap: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .imgGrid {
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
  }
  #wrapper {
    margin: 2rem 5rem;
  }
  .footer1 {
    margin: 0 8rem;
  }
  .footer1 div:first-child {
    width: auto;
  }
  .appstore {
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  #mainContent {
    margin: 0 20rem;
  }
}
